<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My first web site</title>
	<link rel="stylesheet" type="text/css" href="..//css/styles.css">
</head>
<body>
<div class="wrap">

	<div class="top">
		<div class="sage"></div>
		<div class="menu">
			<ul>
				<li>Home</li>
				<li>Projects</li>
				<li>About</li>
				<li>Services</li>
				<li>Blog</li>
				<li>Get in Touch</li>				
			</ul>
		</div>	
		<div class="lang">
			<select>
				<option>En</option>
				<option>Ru</option>
			</select>
		</div>
		<div class="loupe"></div>
		<div class="floor"></div>
	</div>

	<div class="let_us">
		<div class="let_us_top_margin"></div>
		<h1>
			let us make your<br>
			awesome idea happen
		</h1>
		<button class="watch">WATCH SHOWREEL</button>
		<a href="#"><div class="discov_btn"></div></a>
	</div>

	<div class="explorer">
		<h3>
			we develope website and apps for organization<br>
			who want to do something new online.			
		</h3>
		<button class="explorer">EXPLORE MORE</button>
	</div>

	<div class="big">
		<div class="big-top">
			<div class="big-top-left">
				<h4>
					featured 
				</h4>
				<h2>infinity spaces
				</h2>
				<h5>
					Our self-initiated project.<br>
					Infinity is an abstact concept describing something<br>
					without any init limit relevant in a number of fields.
				</h5>
			</div>
			<div class="big-top-right">
				<div class="big-top-right-top">
					&nbsp
					<h2>
						model s
					</h2>
					<h5>
						Information materials that willhelp to discover all the<br>
						possibilities of the serial electric car Tesla Model S.
					</h5>
				</div>
				<div class="big-top-right-bottom">
					&nbsp
					<h2>
						curiosity
					</h2>
					<h5>
						The space is designed to inspire, and pique curiosity and<br>
						encourage visitors to express their own creativity
					</h5>					
				</div>
			</div>
			<div class="floor"></div>
		</div>
		<div class="big-bottom">
			<div class="button_proj">
				SHOW MORE PROJECTS
			</div>
			<div class="floor"></div>
		</div>		
	</div>

	<div class="middle">
		<div class="center">
			<div class="duet">
				<div class="duet-left">
					<div class="icon1"></div>
					<h4>
						exclusive and flexible<br>
						theme
					</h4>
					<h5>
						Briliant elegant club guests first-class. To gilded in crafted regal Suite using<br>
						crafted for topiary. WEalth gold career de-jour left pedigree panoramic<br>
						designer.
					</h5>
				</div>
				<div class="duet-right">
					<div class="icon2"></div>
					<h4>
						material and retina<br>
						design
					</h4>
					<h5>
						Warm clean bold. World's permanent a any this rosy multi-purpose. Magically  <br>
						fat-free deeply remarkable amazing whaerever much spicet simulated ideal<br>
						UI high-tech sensible.
					</h5>					
				</div>
				<div class="floor"></div>				
			</div>	
			<div class="solo">
					<h3>
						STAY CONNECTED
					</h3>
					<h5>
						Join us on our social networks for all the latest updates.
					</h5>					
			</div>
			<div class="quartet">
				<a href="#"><div class="q1">BEHANCE</div></a>
				<a href="#"><div class="q2">FACEBOOK</div></a>
				<a href="#"><div class="q3">PINTEREST</div></a>
				<a href="#"><div class="q4">LINKEDIN</div></a>
				<div class="floor"></div>	
			</div>
		</div>		
	</div>

	<div class="small">
		&nbsp
		<div class="small-center">
			<h3>
				HEAD OFFICE<br>
				NEW YORK, NY, USA	
			</h3>
			
			<h2>
				ROCKFELLER CENTER, 45<br><br>
				1 123 444 5678
			</h2>
		</div>
		&nbsp
	</div>

	<div class="footer">
		<div class="center">
			<div class="footer-left">
				<div class="header">
					&nbsp
					<h3>SAGE</h3>
				</div>
				<br>
				<a href="#">About Sage Theme<br></a>
				Our Mission<br>
				Philosophy<br>
				Principies<br>
				History<br>
				Approach<br>
			</div>
			<div class="footer-center">
				<div class="header-center">
					<h3>OUR SERVICES</h3>
					
				</div>
				<div class="footer-center-left">
					<br>
					Integrated Campaigns<br>
					Stategy<br>
					Philosophy<br>
					History<br>
				    Approach<br>
				</div>	
				<div class="footer-center-right">
				<br>
				<a href="#">About Sage Theme<br></a>
				Our Mission<br>
				Philosophy<br>
				Principies<br>
				History<br>
				Approach<br>				
				</div>	
				<div class="floor"></div>							
			</div>
			<div class="footer-right">
				<div class="header">
					
					
				</div>				
			</div>
			<div class="floor"></div>					
		</div>	
	</div>
	<div class="ender">
		<div class="center">
			<div class="ender-left">
				2015 SAGES
			</div>
			<div class="ender-right">
				Terms of USE	
			</div>	
			<div class="floor"></div>			
		</div>
	</div>
	
</div>
</body>
</html>