<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My first web site</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div class="wrap">

	<div class="top">
		<div class="sage"></div>
		<div class="menu">
			<ul>
				<li>Home</li>
				<li>Projects</li>
				<li>About</li>
				<li>Services</li>
				<li>Blog</li>
				<li>Get in Touch</li>				
			</ul>
		</div>	
		<div class="lang">
			<select>
				<option>En</option>
				<option>Ru</option>
			</select>
		</div>
		<div class="loupe"></div>
		<div class="floor"></div>
	</div>

	<div class="let_us">
		<div class="let_us_top_margin"></div>
		<h1>
			LET US MAKE YOUR<br>
			AWESOME IDEA HAPPEN
		</h1>
		<button class="watch">WATCH SHOWREEL</button>
		<a href="#"><div class="discov_btn"></div></a>
	</div>

	<div class="explorer">
		<h3>
			WE DEVELOPE WEBSITE AND APPS FOR ORGANIZATIONS<br>
			WHO WANT TO DO SOMETHING NEW ONLINE.
		</h3>
		<button class="explorer">EXPLORE MORE</button>
	</div>

	<div class="big">
		<div class="big-top">
			<div class="big-top-left">
				<h4>
					FEATURED
				</h4>
				<h2>
					INFINITY SPACES
				</h2>
				<h5>
					Our self-initiated project.<br>
					Infinity is an abstact concept describing something<br>
					without any init limit relevant in a number of fields.
				</h5>
			</div>
			<div class="big-top-right">
				<div class="big-top-right-top">
					&nbsp
					<h2>
						MODEL S
					</h2>
					<h5>
						Information materials that willhelp to discover all the<br>
						possibilities of the serial electric car Tesla Model S.
					</h5>
				</div>
				<div class="big-top-right-bottom">
					&nbsp
					<h2>
						CURIOSITY
					</h2>
					<h5>
						The space is designed to inspire, and pique curiosity and<br>
						encourange visitors to express their own creativity.
					</h5>					
				</div>
			</div>
			<div class="floor"></div>
		</div>
		<div class="big-bottom">
			<div class="button_proj">
				SHOW MORE PROJECTS
			</div>
			<div class="floor"></div>
		</div>		
	</div>

	<div class="middle">
		<div class="center">
			<div class="duet">
				<div class="duet-left">
					<div class="icon1"></div>
					<h4>
						EXCLUSIVE AND FLEXIBLE<br>
						THEME
					</h4>
					<h5>
						Briliant elegant club guests first-class. To gilded in crafted regal. Suite using<br>
						crafted for wealth topiary. Wealth gpld career de-jour left pedigree panoramic<br>
						designer.
					</h5>
				</div>
				<div class="duet-right">
					<div class="icon2"></div>
					<h4>
						MATERIAL AND RETINA<br>
						DESIGN
					</h4>
					<h5>
						Warm clean bold. World's permanent a any this rosy multy-purpose. Magically<br>
						fat-free deeply remarkable amazing wherever easily much spicey simulated ideal<br>
						UI high-tech sensible.
					</h5>					
				</div>
				<div class="floor"></div>				
			</div>	
			<div class="solo">
					<h3>
						STAY CONNECTED
					</h3>
					<h5>
						Join us on our social networks for all the latest updates,product/service announcement and many more
					</h5>					
			</div>
			<div class="quartet">
				<a href="#"><div class="q1">BEHANCE</div></a>
				<a href="#"><div class="q2">FACEBOOK</div></a>
				<a href="#"><div class="q3">PINTEREST</div></a>
				<a href="#"><div class="q4">LINKEDIN</div></a>
				<div class="floor"></div>	
					
				<div class="grey">
						<div class="red"></div>
						<div class="floor"></div>
				</div>		
			</div>
		</div>		
	</div>
	
</div>
</body>
</html>