<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My first web site</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div id="wrap">

	<div id="top">
		<div id="sage"></div>
		<div id="menu">
			<ul>
				<li>Home</li>
				<li>Projects</li>
				<li>About</li>
				<li>Services</li>
				<li>Blog</li>
				<li>Get in Touch</li>				
			</ul>
		</div>	
		<div id="lang">
			<select>
				<option>En</option>
				<option>Ru</option>
			</select>
		</div>
		<div id="loupe"></div>
		<div class="floor"></div>
	</div>

	<div id="let_us">
		<div id="let_us_top_margin"></div>
		<h1>
			LET US MAKE YOUR<br>
			AWESOME IDEA HAPPEN
		</h1>
		<a href="#"><div id="watch_btn"></div></a>
		<a href="#"><div id="discov_btn"></div></a>
	</div>

	<div id="big">
		<div id="big-top">
			<div id="big-top-left"></div>
			<div id="big-top-right">
				<div id="big-top-right-top"></div>
				<div id="big-top-right-bottom"></div>
			</div>
			<div class="floor"></div>
		</div>
		<div id="big-bottom"></div>		
	</div>
	
</div>
</body>
</html>