@font-face {
	font-family: muli;
	src: url(..//fonts/Muli-Light.ttf);
}

body {
	margin: 0;
}

div.wrap {
	width: 1280px;
	margin: 0 auto;
	
}

div.top {
	height: 70px;
	background: #352d2f;	
	border-bottom: solid 1px #aaa;
}

div.sage {
	background: url(..//img/sage.png) no-repeat;
	width: 300px;
	margin-left: 50px;
	height: 70px;
	float: left;
}

div.menu {
	height: 70px;
	width: 720px;
	float: left;
	font: normal 18px 'muli';
}

div.menu ul {
	list-style: none;
	margin: 0;
}	

div.menu ul li {
	float: left;
	margin-left: 40px;
	color: #aaa;
	height: 48px;
	padding-top: 18px;
}

div.menu ul li:hover {
	color: white;
	border-bottom: solid 4px white;

}

div.lang {
	padding-top: 18px;
	float: left;
}

div.lang select {
	background: #352d2f;
	color: #aaa;
	border: none;
	font: normal 18px 'muli';
}

div.loupe {
	height: 40px;
	width: 70px;
	background: url(..//img/loupe.png) no-repeat 12px 9px;
	border-left: solid 1px #aaa;
	float: left;
	margin-top: 10px;
}

div.let_us {
	background: #352d2f;
	height: 1000px;
	text-align: center;	
	text-transform: uppercase;
}

div.floor {
	clear: both;
	float: none;
	height: 0.001px;
}

div.let_us_top_margin {
	height: 160px;
}

h1 {
	margin: 0 auto;
	color: #aaa;
	width: 680px;
	text-align: center;
	font: normal 56px 'muli';
}

button.watch {
	width: 210px;
	height: 50px;
	margin: 20px auto;
	background: url(..//img/watch_btn.png) no-repeat 0 2px;	
	border: solid 1px #aaa;
	font: normal 16px 'muli';
	color: white;
	padding-left: 38px;
	cursor: pointer;
}

div.discov_btn {
	width: 130px;
	height: 76px;
	margin: 0px auto;
	margin-top: 450px;
	background: url(..//img/discov_btn.png) no-repeat;
}

div.big {
	background: #352d2f;	
}

div.big-top {

}

div.big-bottom {

}

div.big-top-left,
div.big-top-right {
	float: left;
	height: 600px;
	width: 50%;
}

div.big-top-left {
	background: #f63c3c;
}

div.big-top-right-top,
div.big-top-right-bottom {
	height: 300px;
}

div.big-top-right-top {
	background: #453d3f;	
}

div.explorer {
	text-align: center;
}

div.explorer h3 {
	font: normal 20px 'muli';
	margin-top: 30px;
}

button.explorer {
	width: 210px;
	height: 50px;
	margin: 0 auto 30px;
	background: #f63c3c;	
	border: none;
	font: normal 16px 'muli';
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

div.big-top h4,
div.big-top h2,
div.big-top h5 {
	font-family: 'muli';
	color: white;
	margin-left: 40px;
	text-transform: uppercase;
	
}

div.big-top-left h4 {
	margin-top: 350px;
	font-size: 12px;
}

div.big-top h5 {
	font-size: 9px;
}

div.big-top-right h2 {
	margin-top: 150px;
}

div.button_proj {
	width: 184px;
	height: 25px;
	margin: 10px auto;
	border-bottom: solid 3px #aaa;
	color: #aaa;
	font: normal 16px 'muli';
}

div.middle {
	padding-bottom: 50px;
}

div.center {
	width: 1000px;
	margin: 0 auto;
	background: white;
}


div.duet-left,
div.duet-right {
	float: left;
	width: 450px;
	padding: 30px 50px 0 0;
}

div.icon1,
div.icon2 {
	width: 48px;
	height: 48px;
	
	
}

div.icon1 {
	background: url(..//img/icon1.png) no-repeat;
}

div.icon2 {
	background: url(..//img/icon2.png) no-repeat;
}

div.duet h4,
div.duet h5,
div.solo h3,
div.solo h5 {
	font-family: 'muli';
}

div.duet h4 {
	font-size: 12px;
	text-transform: uppercase;
}

div.duet h5,
div.solo h5 {
	font-size: 9px;
}

div.solo h3 {
	font-size: 14px;
}

div.q1, div.q2,
div.q3, div.q4 {
	background: #444;
	width: 220px;
	margin-right: 39px;
	float: left;
	height: 60px;
	font: normal 16px 'muli';
}

div.q4 {
	margin-right: 0;
}

div.q1 {
	background: url(..//img/behance.png) no-repeat center 35px #444;
	padding-top: 80px;
	text-align: center;
}
div.q2 {
	background: url(..//img/facebook.png) no-repeat center 35px #444;
	padding-top: 80px;
	text-align: center;
}
div.q3 {
	background: url(..//img/pinterest.png) no-repeat center 35px #444;
	padding-top: 80px;
	text-align: center;
}
div.q4 {
	background: url(..//img/linkedin.png) no-repeat center 35px #444;
	padding-top: 80px;
	text-align: center;
}


a div.q1, a div.q2, a div.q3, a div.q4 {
	color: white;
}

div.small {
	background: #444;
}

div.small-center {
	padding-top: 105px;
	width: 570px;
	height: 185px;
	margin: 155px auto;
	background: url(..//img/place.png) no-repeat center 60px #f63c3c;
	text-align: center;
	font-family: 'muli';
	color: white;
}

div.small-center h3 {
	font-size: 14px;
}

div.small-center h2 {
	font-size: 18px;
}

div.footer-left,
div.footer-right,
div.footer-center {
	min-height: 400px;
	float: left;
	line-height: 20px;
}

div.footer-left,
div.footer-right {
	width: 250px;
}

div.footer-center {
	width: 500px;
	border-bottom: solid 1px #444;
}

div.footer div.header {
	min-height: 80px;
	width: 230px;
	border-bottom: solid 2px #444;
}

div.footer div.header-center {
	min-height: 80px;
	width: 480px;
	border-bottom: solid 2px #444;
}

div.footer h3 {
	margin-top: 10px;
}

div.footer-center-left,
div.footer-center-right {
	float: left;
	width: 250px;
}

div.ender-left,
div.ender-right {
	float: left;
	width: 500px;
}

div.ender-left {
	text-align: left;
}

div.ender-right {
	text-align: right;
}